.calendar {
    width:70vw;
    margin: 1% auto;
    overflow: visible;
    z-index:2;
    display: grid;
}

.fc  {
    min-width: (100%, 40%);
    margin: auto;
    position: relative;
}

.fc-toolbar-chunk {
    font-size: calc(3px + 1vw);
}

.calendar button {
    background-color: #121212;
    color:hsl(0, 0%, 70%);
    border: none;
    margin: 2% 0%;
    letter-spacing: 4px;
    text-transform: lowercase;
    font-weight: 100;
    cursor: pointer;   
    font-size:(1px + 1vw);
    display: grid;
    place-content: center;
    place-items: center;
    place-self: center;
    min-width: (fit-content + 0.5vw);
}

.fc-timeGridDay-button {
    border-bottom-right-radius: 1000px !important;
    border-top-right-radius: 1000px !important;
}

.fc-dayGridMonth-button {
    border-bottom-left-radius: 1000px !important;
    border-top-left-radius: 1000px !important;
}

.fc-timeGridWeek-button {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.fc--button  {
    display: none !important;
}

.popup {
    position: absolute;
    overflow: visible;
    width: min-content;
    height: fit-content;
    z-index:1;
    background-color: aliceblue;
    padding: 3%;  
    display: grid;
    place-self: center;
    text-align:left;
    background-image: linear-gradient(rgb(7, 7, 7), rgb(17, 17, 17), rgb(23, 23, 23), rgb(27, 27, 27), rgb(33, 33, 33), rgb(37, 37, 37));
    color: aliceblue;
    z-index: 100;
    border: 1px solid #dddddd45;
}

.popupDesc {
    text-transform: lowercase;
    letter-spacing: 5px;
    padding-right:12%;
    font-size: calc(37px - 1vw);
    font-weight: 100;
    color: #ffffffc3;
    cursor: context-menu;
    text-align: center;
}

label {
    display: block;
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: calc(20px - 1vw);
    font-weight: 100;
    color: #ffffffc3;
    cursor: context-menu;
    padding-top: 5%;
    margin-left: 4px;
}

.popup textarea, input {
    border: 1px solid #ffffffc3;
    color:#ffffffd2;
    padding: 5%;
    margin: 2%;
    min-width: min-content;
    width: min-content;
    background-color: transparent;
}

.popup button {
    height: 30px;
    width:99%;
    background-color: #121212;
    color:hsl(0, 0%, 70%);
    border: none;
    margin: 2% 0%;
    letter-spacing: 4px;
    text-transform: lowercase;
    font-weight: 100;
    cursor: pointer;    
}

.single-day-event:hover {
    opacity: 0.8;
}

#fc-dom-86 {
    padding: 0px 10px;
    text-align: center;
}

.fc-popover-body {
    background-color: #121212;
}

.fc-popover-header {
    background-color: #2C3E50 !important;
}

.addEventsButton {
    background-color: #2C3E50 !important;
    height: 30px !important;
    margin: 5px 0 !important;
    letter-spacing: 4px;
    text-transform: lowercase;
    font-weight: 100;
    cursor: pointer;
    min-width: 48.5vw !important;
}

.calendar button:hover {
    opacity: 0.8;
}

.single-day-event{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-sized columns */
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #3788D8;
    display: flex;
    justify-content: center;
    align-self: center;
}

.title2 {
    display: flex;
    justify-content: center;
    align-self: center;
}

