.home {
    text-align: center;
    font-size:3vw;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    letter-spacing: 4px;
    text-transform: lowercase;
    font-weight: 100;
    color:hsl(0, 0%, 80%);
}