/* ------------- Sidebar component CSS  ------------- */

.Sidebar {
    position: fixed;
    background-color: #212121;
    color: rgb(240, 248, 255);
    height: 100vh;
    width: min(100%, 200px);
    transition: width 0.7s ease;
    font-weight: 100;
    z-index: 1000;
  }
  
  .SidebarList :hover {
    color: rgba(240, 248, 255, 0.475);
    background-color: #12121238;
  }
  
  .SidebarRow {
    padding:12px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  
  .SidebarTitle {
    padding-left:15px;
    max-width: min(100%, 150px);
    font-size: calc(5px + 1.6vmin);
  }
  
  .MenuContainer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding:7px;
    opacity: 77%;
    min-width: (100%, max-content);
  }
  
  .MenuTitle {
    padding:15px;
    text-align: center;
    font-size: calc(7px + 2vmin);
    background-color: rgba(240, 248, 255, 0.336);
    transform: scale(0.8);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #121212aa;
    display: flex;
  
    height: 70px;
    width: calc(15px + 7vw);
    border-radius: 58% 43% 33% 64% / 50% 38% 53% 50%;
    box-shadow: inset 6px 33px 20px 0 #c9c9c9, inset 20px 80px 15px 0 #e0e0e0, 10px 20px 20px 0px #c9c9c9;
  
  }
  
  .MenuTitle svg {
    text-align: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
  }
  
  .MenuTitle::before {
    content: '';
    position: absolute;
    border-radius: 37% 55% 47% 47%;
    background: white;
    width: 50px;
    transform: rotate(-30deg);
    height: 15px;
    top: calc(18px + 1vh);
    left: calc(1vw);
  }
  
  .MenuTitle::after {
    content: '';
    position: absolute;
    border-radius: 60%;
    background: white;
    width:10px;
    height: 10px;
    top: 58px;
    left: 18px;
  }
  
  .Sidebar.collapsed {
    width: 40px;
  }
  .SidebarTitle.collapsed {
    display: none;
  }
  .MenuTitle.collapsed {
    display: none;
  }
  
  .ToggleButton{
    width:100%;  
    text-align: center;
    cursor: pointer;
  }