.toggleButton {
    width: 60px;
    height: 25px;
    transform: scale(0.45);
    margin-top: -3px;
  }
  
  .switchButton {
    opacity: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(240, 248, 255);
    transition: .3s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(134, 133, 133);
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #121212;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }